{% extends 'base.html' %}

{% block content %}

<div class="content-wrapper">
	{% if request.user.is_superuser or request.user.is_staff %}
	    <div class="">
		    <div class="row">
		    	<div class="col-lg-2">
					<div>
						{% include 'base/ad-partial.html' %}
					</div>
				</div>
		    	<div class="col-lg-10 py-3">
		    		<div class="card py-3 table-responsive">
		    			<div class="card-title">
		    				<p class="h4 text-center text-oswald">Results</p>
		    				<form method="post">
		    				{% csrf_token %}
							 	<div class="row">
							 		<div class="col-lg-5 offset-lg-4">
							 			<div class="form-group d-flex justify-content-between">
							 				<input placeholder="Enter User" name="member" type="text" class="form-control">
							    			<button class="btn btn-default ml-2 text-oswald" name="check" value="search-member"><i class="fas fa-search"></i></button>
							 			</div>
							 		</div>
							  	</div>
							</form>
		    			</div>
		    			<div class="card-body">
			    			{% if pages %}
			    				<table class="table table-responsive">
			    					<thead>
			    						<tr>
			    							<!-- <th>#</th> -->
			    							<th>User</th>
			    							<th>Action</th>
			    						</tr>
			    					</thead>
			    					<tbody style="font-size:14px!important">
			    						{% for item in pages %}
				    						<tr>
				    							<!-- <td>{{ forloop.counter }}</td> -->
				    							<td>
				    								{{ item.admin }}<br>
					    							{% if item.is_admin %}
					    								<p class="badge badge-danger">super</p>
					    							{% elif item.is_subadmin %}
					    								<p class="badge badge-danger">admin</p>
					    							{% else %}
					    								<p class="badge badge-danger">user</p>
					    							{% endif %}
					    						</td>
				    							<td>
				    								<form method="post" class="form-inline">
				    								{% csrf_token %}
				    									{% if request.user.is_superuser %}
					    									<div class="checkbox pr-3">
					    										{% if item.is_lead %}
						    									   	<label><input type="checkbox" name="lead" checked>
						    									   		<span class="ml-1">Lead</span>
						    									   	</label>
						    									{% else %}
						    										<label><input type="checkbox" name="lead">
						    									   		<span class="ml-1">Lead</span>
						    									   	</label>
						    									{% endif %}
					    									</div>	
					    								{% endif %}
				    									<div class="checkbox pr-3">
				    										{% if item.is_response %}
					    									   	<label><input type="checkbox" name="response" checked>
					    									   		<span class="ml-1">Response</span>
					    									   	</label>
					    									{% else %}
					    										<label><input type="checkbox" name="response">
					    									   		<span class="ml-1">Response</span>
					    									   	</label>
					    									{% endif %}
				    									</div>		
				    									<div class="checkbox pr-3">
				    										{% if item.is_link %}
					    									   	<label><input type="checkbox" name="links" checked>
					    									   		<span class="ml-1">Links</span>
					    									   	</label>
					    									{% else %}
					    										<label><input type="checkbox" name="links">
					    									   		<span class="ml-1">Links</span>
					    									   	</label>
					    									{% endif %}
				    									</div>	
				    									<div class="checkbox pr-3">
				    										{% if item.is_delivered %}
					    									   	<label><input type="checkbox" name="delivered" checked>
					    									   		<span class="ml-1">Delivered</span>
					    									   	</label>
					    									{% else %}
					    										<label><input type="checkbox" name="delivered">
					    									   		<span class="ml-1">Delivered</span>
					    									   	</label>
					    									{% endif %}
				    									</div>	
				    									<div class="checkbox pr-3">
				    										{% if item.is_undelivered %}
					    									   	<label><input type="checkbox" name="undelivered" checked>
					    									   		<span class="ml-1">Undelivered</span>
					    									   	</label>
					    									{% else %}
					    										<label><input type="checkbox" name="undelivered">
					    									   		<span class="ml-1">Undelivered</span>
					    									   	</label>
					    									{% endif %}
				    									</div>
				    									{% if request.user.is_superuser %}
					    									<div class="checkbox pr-3">
					    										{% if item.is_bulk %}
						    									   	<label><input type="checkbox" name="bulk-sms" checked>
						    									   		<span class="ml-1">import</span>
						    									   	</label>
						    									{% else %}
						    										<label><input type="checkbox" name="bulk-sms">
						    									   		<span class="ml-1">import</span>
						    									   	</label>
						    									{% endif %}
					    									</div>
					    								{% endif %}	
				    									<div class="checkbox pr-3">
				    										{% if item.is_ani %}
					    									   	<label><input type="checkbox" name="ani" checked>
					    									   		<span class="ml-1">ANI</span>
					    									   	</label>
					    									{% else %}
					    									 	<label><input type="checkbox" name="ani">
					    									   		<span class="ml-1">ANI</span>
					    									   	</label>
					    									{% endif %}
				    									</div>		
				    									<div class="checkbox pr-3">
				    										{% if item.is_campaign %}
					    									   	<label><input type="checkbox" name="campaign" checked>
					    									   		<span class="ml-1">Campaign</span>
					    									   	</label>
					    									{% else %}
					    									 	<label><input type="checkbox" name="campaign">
					    									   		<span class="ml-1">Campaign</span>
					    									   	</label>
					    									{% endif %}
				    									</div>
				    									{% if request.user.is_superuser %}
					    									<div class="checkbox pr-3">
					    										{% if item.is_export %}
						    									   	<label><input type="checkbox" name="export" checked>
						    									   		<span class="ml-1">Export</span>
						    									   	</label>
						    									{% else %}
						    									 	<label><input type="checkbox" name="export">
						    									   		<span class="ml-1">Export</span>
						    									   	</label>
						    									{% endif %}
					    									</div>
					    									<div class="checkbox pr-3">
					    										{% if item.is_dnis %}
						    									   	<label><input type="checkbox" name="dnis" checked>
						    									   		<span class="ml-1">Chat</span>
						    									   	</label>
						    									{% else %}
						    									 	<label><input type="checkbox" name="dnis">
						    									   		<span class="ml-1">Chat</span>
						    									   	</label>
						    									{% endif %}
					    									</div>
					    								{% endif %}
				    									<div class="checkbox pr-3">
				    										{% if item.is_gateway %}
					    									   	<label><input type="checkbox" name="gateway" checked>
					    									   		<span class="ml-1">Gateway</span>
					    									   	</label>
					    									{% else %}
					    									 	<label><input type="checkbox" name="gateway">
					    									   		<span class="ml-1">Gateway</span>
					    									   	</label>
					    									{% endif %}
				    									</div>
				    									<input type="hidden" name="id" value="{{ item.admin }}">
				    									<button style="letter-spacing: 1px;" class="ml-3 btn btn-danger text-oswald btn-sm" name="check" value="create_role">Submit</button>	
				    								</form>
				    							</td>
				    						</tr>
				    					{% endfor %}
			    					</tbody>
			    				</table>
			    			{% else %}
			    				<div class="card-footer">
					    			<p class="text-center h5 text-secondary">No match found !!</p>
					    		</div>
			    			{% endif %}

		    			</div>
		    			{% if pages.has_other_pages %}
		    				<div class="mt-5">
							    <section class="article-pagination">
							      <div class="container">
							        <div class="row">
							          <div class="col-md-12">
							            <nav aria-label="Page navigation example">
							              <ul class="pagination justify-content-center">
							                {% if pages.has_previous %}
							                  <li class="page-item pr-2">
							                    <a class="" href="?page={{ pages.previous_page_number }}" tabindex="-1">
							                      <i class="text-secondary fas fa-chevron-circle-left fa-3x"></i>
							                    </a>
							                  </li>
							                {% endif %}
							                {% for page in pages.paginator.page_range %}
							                  {% if pages.number == page %}     
							                    <!-- Current page -->
							                    <li class="page-item mt-1">
							                      <a class="page-link bg-danger h6" href="?page={{ page }}">{{ page }}</a>
							                    </li>
							                    <!-- end -->
							                  {% elif page > pages.number|add:'-3' and page < pages.number|add:'3' %}
							                      <li class="page-item mx-2 mt-1">
							                        <a class="page-link h6" href="?page={{ page }}">{{ page }}</a>
							                      </li>
							                  {% endif %}
							                {% endfor %}
							                {% if pages.has_next %}
							                  <li class="page-item pl-2 text-danger">
							                    <a class="" href="?page={{ pages.next_page_number }}">
							                      <i class="text-secondary fas fa-chevron-circle-right fa-3x"></i>
							                    </a>
							                  </li>
							                {% endif %}
							              </ul>
							            </nav>
							          </div>
							        </div>
							      </div>
							    </section>
		    				</div>
						{% endif %}
		    		</div>
		    	</div>
		    </div>
		</div>
	{% endif %}
</div>
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    {% if alert %}
        const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 1500,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'success',
                title: '{{ alert }}'

            })
    {% elif error %}
        const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 1500,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'error',
                title: '{{ error }}'

            })
    {% endif %}
</script>
{% endblock %}
{% endblock %}