{% if request.user.is_superuser %}
	<!-- confirmation modal before clearing db -->
	<div id="confirm-modal" class="modal fade bg-dark" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title sweet-text text-center letter-spacing">Confirmation </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
               <label for="usr">Confirmation Text:</label>
               <input autocomplete="off" placeholder="Type 'Confirm'" type="text" class="form-control" id="delete">
            </div>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button @click.prevent="deleteAllSms()" type="button" class="btn btn-danger" data-dismiss="modal">Confirm</button>
          </div>
        </div>
      </div>
    </div>
	<div class="row">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link ml-lg-1 btn-hover color-8 letter-spacing" href="{% url 'base:super_admin' %}">User Panel</a>
			</li>
			{% comment %} <li class="nav-item">
				<a class="nav-link ml-lg-1 btn-hover color-11 letter-spacing" href="{% url 'base:create-role' %}">Permission</a>
			</li> {% endcomment %}
			{% if request.user.is_superuser %}					
				<li class="nav-item">
					<a 
						class="nav-link ml-lg-1 btn-hover color-11 letter-spacing" 
						href="{% url 'base:ani' %}">Numbers</a>
				</li>
			{% endif %}
		</ul>
	</div>
{% endif %}
