{% extends 'base.html' %}
{% block title %}Ticket{% endblock %}
{% block content %}
{% if request.user.is_superuser or request.user.is_staff %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-lg-2">
                    <div>
                        {% include 'base/ad-partial.html' %}
                    </div>
                </div>
                <div class="col-lg-10 pt-3">
                    <div class="card px-2 py-3">
                        <div class="card-title">
                            <p class="h4 text-center text-oswald">Support Tickets</p>
                        </div>
                        <div class="card-body">
                            {% if pages %}
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>User</th>
                                            <th>Date</th>
                                            <th>Messenger</th>
                                            <th>id</th>
                                            <th>Subject</th>
                                            <th>Message</th>
                                            <th>checked</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in pages %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ item.user }}</td>
                                                <td>{{ item.timestamp|date:'D M Y' }}</td>
                                                <td>{{ item.messenger }}</td>
                                                <td class="text-primary">{{ item.msgr_id }}</td>
                                                <td>{{ item.subject }}</td>
                                                <td class="text-primary">{{ item.message|truncatechars:15 }}</td>
                                                {% if item.is_close %}
                                                    <td class="text-dark">Yes</td>
                                                {% else %}
                                                    <td class="text-primary h6">No</td>
                                                {% endif %}
                                                <td>
                                                    <form method="post">
                                                    {% csrf_token %}
                                                        <input type="hidden" name="support_id" value="{{ item.id }}">
                                                        <input type="hidden" name="admin" value="{{ item.user}}">
                                                        {% if not item.is_close %}
                                                            <button title="close" value="close" name='check' class="btn btn-danger btn-sm"><i class="fas fa-window-close"></i></button>
                                                        {% endif %}
                                                        <button title="delete" name="check" value="delete" class="btn btn-danger btn-sm"><i class="fad fa-trash-alt"></i></button>
                                                        <button name="check" value="chat" type="submit" class="btn btn-danger btn-sm" title="details">
                                                            <i class="fad fa-edit"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                                
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="card-footer">
                                    <p class="text-center h6 text-secondary">No tickets found !!</p>
                                </div>
                            {% endif %}

                        </div>
                        {% if pages.has_other_pages %}
                            <div class="mt-5">
                                <section class="article-pagination">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <nav aria-label="Page navigation example">
                                          <ul class="pagination justify-content-center">
                                            {% if pages.has_previous %}
                                              <li class="page-item pr-2">
                                                <a class="" href="?page={{ pages.previous_page_number }}" tabindex="-1">
                                                  <i class="text-secondary fas fa-chevron-circle-left fa-3x"></i>
                                                </a>
                                              </li>
                                            {% endif %}
                                            {% for page in pages.paginator.page_range %}
                                              {% if pages.number == page %}     
                                                <!-- Current page -->
                                                <li class="page-item mt-1">
                                                  <a class="page-link bg-danger h6" href="?page={{ page }}">{{ page }}</a>
                                                </li>
                                                <!-- end -->
                                              {% elif page > pages.number|add:'-3' and page < pages.number|add:'3' %}
                                                  <li class="page-item mx-2 mt-1">
                                                    <a class="page-link h6" href="?page={{ page }}">{{ page }}</a>
                                                  </li>
                                              {% endif %}
                                            {% endfor %}
                                            {% if pages.has_next %}
                                              <li class="page-item pl-2 text-danger">
                                                <a class="" href="?page={{ pages.next_page_number }}">
                                                  <i class="text-secondary fas fa-chevron-circle-right fa-3x"></i>
                                                </a>
                                              </li>
                                            {% endif %}
                                          </ul>
                                        </nav>
                                      </div>
                                    </div>
                                  </div>
                                </section>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endif %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        {% if alert %}
            const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 1500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: '{{ alert }}!!'

                })
        {% elif error %}
            const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 1500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'error',
                    title: 'OOps! {{ error }} ??'

                })
        {% endif %}

    </script>
{% endblock %}
{% endblock %}