{% extends 'base.html' %}
{% block title %} Sms Responder {% endblock %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jqvmap.min.css">
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid" class="" id="">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row pt-4">
        <!-- <div class="col-md-6 col-lg-3 animate__animated animate__fadeInDown">
          <div class="item-card bg-mix-blue img-card overflow-hidden shadow-up">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-5">
                        <div class="ecommerce-icon"> 
                          <img src="{% static 'images/wallet.png' %}" alt="img"> </div>
                    </div>
                    <div class="text-white mt-3">
                        <h6 class="mb-1 bold-1 scale"> Campaigns </h6>
                        <h6 class="mt-1 mb-0">Active - {{ total_campaigns }}</h6>
                        <h6 class="mt-1 mb-0">Inactive - {{ inactive_campaigns }}</h6>
                    </div>
                </div>
            </div> <img src="{% static 'images/circle.png' %}" alt="img" class="img-card-circle">
          </div>
        </div> -->
        <div class="col-md-6 col-lg-3 animate__animated animate__fadeInUp">
          <div class="item-card bg-titanium img-card overflow-hidden shadow-up">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-5 text-dark">
                        <div class="ecommerce-icon"> 
                          <img src="{% static 'images/sms.png' %}" alt="img"> </div>
                    </div>
                    <div class="text-dark mt-2">
                        <h6 class="mb-1 bold-2 scale">SMS Total</h6>
                        <h6 class="mt-2 mb-0 bold-1">Received - {{ incoming_sms }}</h6>
                        <h6 class="mt-1 mb-0 bold-1">sent - {{ sent_sms }}</h6>
                    </div>
                </div>
            </div> <img src="{% static 'images/circle.png' %}" alt="img" class="img-card-circle">
          </div>
        </div>
        <div class="col-md-6 col-lg-3 animate__animated animate__fadeInDown">
          <div class="item-card bg-titanium img-card overflow-hidden shadow-up">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-5">
                        <div class="ecommerce-icon"> 
                          <img src="{% static 'images/user.png' %}" alt="img"> </div>
                    </div>
                    <div class="text-dark mt-2">
                        <h6 class="mb-1 bold-2 scale bold-2">Lead Today</h6>
                        <h6 class="mt-2 mb-0 bold-1">Total Lead - {{ today_lead }}</h6>
                        <!-- <h6 class="mt-1 mb-0">Follow Up - {{ followup }}</h6> -->
                    </div>
                </div>
            </div> <img src="{% static 'images/circle.png' %}" alt="img" class="img-card-circle">
          </div>
        </div>
        <!-- <div class="col-md-6 col-lg-3 animate__animated animate__fadeInUp">
          <div class="item-card bg-mix-warning img-card overflow-hidden shadow-up">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-5">
                        <div class="ecommerce-icon"> 
                          <img src="{% static 'images/link.png' %}" alt="img"> </div>
                    </div>
                    <div class="text-white mt-3">
                        <h6 class="mb-1 bold-1 scale">Link Sent</h6>
                        <h6 class="mt-1 mb-0">PPL - {{ ppl }}</h6>
                        <h6 class="mt-1 mb-0">PPS - {{ pps }}</h6>
                    </div>
                </div>
            </div> <img src="{% static 'images/circle.png' %}" alt="img" class="img-card-circle">
          </div>
        </div>  -->
        <div class="col-md-6 col-lg-3 animate__animated animate__rollIn">
          <div class="item-card bg-titanium img-card overflow-hidden shadow-up">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-5">
                        <div class="ecommerce-icon"> 
                          <img src="{% static 'images/growth.png' %}" alt="img"> </div>
                    </div>
                    <div class="text-dark mt-2">
                        <h6 class="mb-1 bold-2 scale">Report</h6>
                        <h6 class="mt-2 mb-0 bold-1">Delivered - {{delivered}}</h6>
                        <h6 class="mt-1 mb-0 bold-1">Undelivered - {{undelivered}}</h6>
                    </div>
                </div>
            </div> <img src="{% static 'images/circle.png' %}" alt="img" class="img-card-circle">
          </div>
        </div>
        <div class="col-md-6 col-lg-3 animate__animated animate__fadeInBottomLeft">
          <div class="item-card bg-titanium img-card overflow-hidden shadow-up">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-5">
                        <div class="ecommerce-icon"> 
                          <img src="{% static 'images/chat.png' %}" alt="img"> </div>
                    </div>
                    <div class="text-dark mt-2">
                        <h6 class="mb-1 bold-2 scale">SMS Today</h6>
                        <h6 class="mt-2 mb-0 bold-1">Received - {{ reply_today }}</h6>
                        <h6 class="mt-1 mb-0 bold-1">Sent - {{ sent_today }}</h6>
                    </div>
                </div>
            </div> <img src="{% static 'images/circle.png' %}" alt="img" class="img-card-circle">
          </div>
        </div>
        <!-- <div class="col-md-6 col-lg-3 animate__animated animate__fadeInBottomRight">
          <div class="item-card bg-mix-pink img-card overflow-hidden shadow-up">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-5">
                        <div class="ecommerce-icon"> 
                          <img src="{% static 'images/server.png' %}" alt="img"> </div>
                    </div>
                    <div class="text-white mt-3">
                        <h6 class="mb-1 bold-1 scale">Server Usage</h6>
                        <h6 class="mt-1 mb-0">RAM - {{ ram_used }}%</h6>
                        <h6 class="mt-1 mb-0">CPU - {{ cpu_usage }}%</h6>
                    </div>
                </div>
            </div> <img src="{% static 'images/circle.png' %}" alt="img" class="img-card-circle">
          </div>
        </div> -->
        <!-- <div class="col-md-6 col-lg-3 animate__animated animate__rollIn">
          <div class="item-card bg-mix-orange img-card overflow-hidden shadow-up">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-5">
                        <div class="ecommerce-icon"> 
                          <img src="{% static 'images/cart.png' %}" alt="img"> </div>
                    </div>
                    <div class="text-white mt-3">
                        <h6 class="mb-1 bold-1 scale">Total Lead ({{ total_lead }})</h6>
                        <h6 class="mt-1 mb-0">Yesterday - {{ yesterday_lead }}</h6>
                        <h6 class="mt-1 mb-0">Today - {{ today_lead }}</h6>
                    </div>
                </div>
            </div> <img src="{% static 'images/circle.png' %}" alt="img" class="img-card-circle">
          </div>
        </div> -->
      </div>
      <div class="row my-4">
        <div class="col-lg-6 col-md-6 col-sm-12 animate__animated animate__fadeInBottomLeft">
          <div class="card shadow-up">
            <div class="card-header bg-offwhite">
              <h3 class="card-title bold-2">Inbound & Outbound sms</h3>
            </div>
            <div class="card-body">
              <div class="chart">
                <canvas id="lineChart" >
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 animate__animated animate__fadeInBottomRight">
          <div class="card shadow-up">
            <div class="card-header bg-offwhite mb-0 pb-0">
              <h3 class="card-title bold-2 text-white">
                <a class="text-dark" href="{% url 'responder:side-conversations' %}">Inbox</a>
              </h3>
              <h3 class="float-right text-primary">
                <a class="text-primary" href="{% url 'responder:side-conversations' %}">
                  <i class="fas fa-paper-plane"></i>
                </a>
              </h3>
            </div>
            <div class="card-body">
              {% if latest_inbox %}
                {% for item in latest_inbox %}
                  <div class="border-bottom pb-2">
                      <div class="d-flex flex-row justify-content-between m-0 p-0">
                        <p class="bold-2 p-0 m-0">{{item.admin}}</p>
                        <p style="font-size: 14px;" class="mb-0 pb-0 bold-1">{{item.timestamp|date:"h:m A"}}</p>
                      </div>
                      <p style="font-size: 14px;" class="text-secondary bold-1 p-0 m-0">{{item.latest_sms|truncatechars:75}}</p>
                  </div>
                {% endfor %}
              {% else %}
                <div class="text-center">
                  <p class="text-primary bold-1">no latest sms found</p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
<!--       <div class="row mt-4 mb-5">
        <div class="col-12">
          <div class="card shadow-up">
            <div class="card-header bg-mix-teal">
              <h2 class="card-title text-white scale font-size-1 bold-1">Recent SMS Report</h2>
            </div>
            <div class="card-body">
              <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6"></div>
                  <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                  	<div class="card-body table-responsive p-0">
                  		<table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid"
                      aria-describedby="example2_info">
                      <thead>
                        <tr role="row">
                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column ascending">Recipient</th>
                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column ascending">Bot Number</th>
                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending">Type</th>
                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending">Media</th>
                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-label="Engine version: activate to sort column ascending">Last Message</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in sms_reports %}
                          <tr role="row" class="odd">
                            <td class="" tabindex="0">{{ item.dnis|truncatechars:9 }}</td>
                            <td class="">{{ item.ani|truncatechars:9 }}</td>
                            {% if item.reply %}
                              <td class="">Incoming</td>
                            {% elif item.sent %}
                              <td>Outgoing</td>
                            {% else %}
                              <td>-</td>
                            {% endif %}
                            <td class="text-primary">{% if item.is_mms %}Yes{% else %}No{% endif %}</td>
                            <td class="">{{ item.timestamp|timesince }} ago</td>
                          </tr>
                        {% endfor %}
                      </tfoot>
                    </table>
                  		
                  	</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info pt-3 text-secondary" id="example2_info" role="status" aria-live="polite">Recent 10 entries</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</div>
{% endblock %}
{% block extra_js %}
<script>
  // lineChart
  var ctx = document.getElementById('lineChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['1d','2d', '3d', '4d', '5d', '6d'],
      datasets: [{
          label: 'Sent sms',
          // data: [],
          data: {{ outgoing_data }},
          backgroundColor: 'transparent',
          borderColor: '#f55b39',
          pointBorderWidth :2,
          pointRadius :5,
          pointHoverRadius :5,
          labelColor:'#f55b39',
          borderWidth: 4,
          pointStyle: 'circle',
          pointBorderColor: '#f55b39',
          pointBackgroundColor: '#f55b39',
        },
        {
          label: 'Incoming sms',
          // data: [22, 11, 32, 5, 23, 33],
          data: {{ incoming_data }},
          backgroundColor: 'transparent',
          borderColor: '#5569f0',
          pointBorderWidth :2,
          pointRadius :5,
          pointHoverRadius :5,
          borderWidth: 4,
          pointStyle: 'circle',
          pointBorderColor: '#5569f0',
          pointBackgroundColor: '#5569f0',
        }
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
          display:false,
          labels: {
              fontColor: '#868ca2'
          }
      },
      elements: {
          line: {
              borderWidth: 2
          },
          point: {
              radius: 0,
              hitRadius: 10,
              hoverRadius: 5
          }
      },
      tooltips: {
          show: true,
          showContent: true,
          alwaysShowContent: true,
          triggerOn: 'mousemove',
          trigger: 'axis',
          axisPointer:
          {
              label: {
                  show: false,
                  color: '#868ca2',
              },
          }
      },

      scales: {
          xAxes: [ {
              ticks: {
                  fontColor: "#7c8099",
              },
              display: true,
              gridLines: {
                  color:'rgba(119, 119, 142, 0.2)',
                  zeroLineColor: 'rgba(119, 119, 142, 0.03)',
              }
          } ],
          yAxes: [ {
              gridLines: {
                  color:'rgba(119, 119, 142, 0.2)',
                  zeroLineColor: 'rgba(119, 119, 142, 0.03)',
                  drawBorder: false,
                  display:false
              },
              scaleLabel: {
                  display: false,
              },
              ticks: {
                  fontSize: 12,
                  fontColor: '#868ca2',
                  padding: 0,
                  maxRotation: 0,
                  stepSize: 200,
                  min: 0,
                  max: 1000
              },
          } ]
      },
      title: {
        display: true,
        text: 'incoming and outgong sms per hour'
      }
    }
  });

</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script type="text/javascript" src="{% static 'vue/conversation.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript">  
  document.getElementById("eye").addEventListener("click", function(){
    data = {
      check:"back_img"
    }
    sendRequest("{% url 'base:home' %}", "post", data)
    .then(function(response){
      location.reload();
    })
  })
</script>
<script type="text/javascript">
      var options = {
          series: [44, 55, 41],
          chart: {
          width: 360,
          type: 'donut',
          dropShadow: {
            enabled: true,
            color: '#111',
            top: -3,
            left: 3,
            blur: 3,
            opacity: 0.2
          }
        },
        stroke: {
          width: 0,
        },
        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                total: {
                  showAlways: true,
                  show: true
                }
              }
            }
          }
        },
        labels: ["Delivered", "Undelivered", "Sent"],
        dataLabels: {
          dropShadow: {
            blur: 3,
            opacity: 0.9
          }
        },
        fill: {
        type: 'pattern',
          opacity: 1,
          pattern: {
            enabled: true,
            style: ['verticalLines', 'squares', 'horizontalLines', 'circles','slantedLines'],
          },
        },
        states: {
          hover: {
            filter: 'none'
          }
        },
        theme: {
          palette: 'palette2'
        },
        // title: {
        //   text: "Favourite Movie Type"
        // },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 300
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
</script>
{% endblock %}