
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700;800&display=swap');


body {
  font-family: 'Quicksand', sans-serif;
  margin:0px!important;
  padding:0px!important;
}

/*colors*/
.bg-titanium{
    background: -webkit-linear-gradient(45deg, hsl(206deg 95% 43%) 35%, #007fff69 95%);
}
.danger {
    background-color: rgba(255,152,0,.15);
    background-image: linear-gradient(to right bottom,transparent 50%,rgba(255,152,0,.4) 0),linear-gradient(to right bottom,#fff 73%,transparent 0);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    border-radius: 0;
    margin-left: auto;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pointer{
  cursor: pointer;
}
.logo{
    width: 255px;
    height: 57px;
    position: absolute;
    left: 72px;
    top: 7px;
}
.font-quicksand{
  font-family: 'Quicksand', sans-serif!important;
}
.breadcrumb-item+.breadcrumb-item::before {
     color: #ffc107!important; 
}
.conversation-send{
    width: 700px!important;
    margin-left: 300px;
}

.side-img{
  background-image: url('../images/slide.png')!important;
  height: 180px;
  overflow: hidden!important;
  opacity: .9;
  z-index: -1;
}
.remove_back{
  background-image: none!important;
}
.image img{
  height: 50px;
  width: 50px;
  color: white;
}
.font-size-1{
  font-size: 22px!important;
}

/*select start*/
.letter-spacing{
  letter-spacing: 2px!important;
}
.text-black{
  color: black!important;
  transition: .5s ease!important;
}
.text-black:hover{
  opacity: .8!important;
}
/*select end*/

/* Gallery start */

.gallery-img{
  height: 120px;
  width: 150px;
  border-radius: 5px;
}
.gallery-scroll::-webkit-scrollbar {
  display: block!important;
}
.gallery-scroll::-webkit-scrollbar {
  width: 8px;
  background-color: red;
}
.gallery-scroll::-webkit-scrollbar::hover {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 0px; 
}
/* Gallery end */

/*loader*/
.page-loader{
  position:absolute;
  top: 0px;
  left:0px;
  right:0px;
  bottom: 0px;
  /*z-index: 100;*/

}
.page-loader img{
    position: absolute;
    top: 150px;
    /*left: 600px;*/
    left: 30%;
    right: 60%
    /*right: 200px;*/
    width: 150px;
    height: 150px;
}

/*loader*/

.translatex{
  transition: .7s ease;
}
.translatex:hover{
  transform: translateX(-10px);
}
.title-gradient{
  color: -webkit-linear-gradient(to right, #fe8c00, #f83600)!important;
  color: linear-gradient(to right, #fe8c00, #f83600)!important;
  font-weight: 600;
  font-size: 30px;
  transition: .7s ease;
}
.title-gradient:hover{
  opacity: .8;
}
.scale{
  transition: .7s ease;
}
.scale:hover{
  transform: scale(1.05);
}
/* DAshboard Map CSS */
.jqvmap-zoomin,
.jqvmap-zoomout {
  width: 16px !important;
  height: 18px !important;
}
input[type=checkbox]{
  transform: scale(1.5);
  border-radius: 2px;
  transition: .5s ease;
}
.close:focus{
  outline: none!important;
  border: none!important;
}
.scale-1{
  transition: 1s ease;
}
.scale-1:hover{
  transform: scale(1.2);
}
.big-scale{
  transition: 2s ease;
}
.big-scale:hover{
  position: absolute;
  z-index: 1!important;
  transform: scale(3);
}
.sweet-text{
    background: linear-gradient(to right, #FEC163 0%, #DE4313 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover-sm {
    width: 90px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 100px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover-sm:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover-sm:focus {
    outline: none;
}.btn-hover {
    width: auto;
    font-size: 14px;
    padding: 15px 25px 25px 25px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px;
    height: 50px;
    text-align:center;
    border: none;
    letter-spacing: 2px;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

/* button design */

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  content: 'sdfasd';
  position: absolute;
  content: "";
  height: 18px;
  width: 16px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.bg-gradient-success {
  background-image: linear-gradient(to right, #028758, #1bb26f);
}
.bg-gradient-danger {
  background-image: linear-gradient(to right, #f4401b, #ec9c67);
}
.bg-gradient-info {
  background-image: linear-gradient(to right, #354cf0, #88b7ed);
}

.bg-gradient-secondary {
  background: linear-gradient(to right, #a032ed, #bc65fa);
}
.button-info{
  width: 110px;
  height: 45px;
  border-radius: 50px;
  background-image: linear-gradient( 135deg, #E2B0FF 0%, #9F44D3 100%);
  box-shadow: 0 20px 30px -6px rgba(171,88,219,0.5);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: white;
  transition: all .3s ease-in-out;
  }
.button-info:hover{
    transform:translatey(10px);
    box-shadow: none;
}
.button-info:focus{
  opacity: 0.5;
  border: none;
  outline: none;
}
.button-success{
    width: 100px;
    height: 43px;
    border-radius: 50px;
    background-image: linear-gradient( 135deg, #81FBB8 0%, #28C76F 100%);
    box-shadow: 0 20px 30px -6px rgb(60 211 128 / 50%);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: white;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
    padding: 8px 17px 31px 20px;
  }
.button-success:hover{
    transform:translatey(10px);
    box-shadow: none!important;
    outline: none!important;
}
.button-success:focus{
  opacity: 0.5;
  border: none;
  outline: none;
}
.button-danger{
  width: 140px;
  height: 55px;
  letter-spacing: 4px;
  border-radius: 50px;
  background-image: linear-gradient( 135deg, #FEB692 0%, #EA5455 100%);
  box-shadow: 0 20px 30px -6px rgba(238,103,97,0.5);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
  transition: all .3s ease-in-out;
  }
.button-danger:hover{
    transform:translatey(10px);
    box-shadow: none;
}
.button-danger:focus{
  opacity: 0.5;
  outline: none;
}
/* end button design */

/*background colo*/
.bg-mix-success {
    background-image: linear-gradient(to right, #028758, #1bb26f);
}

.bg-mix-info {
    background-image: linear-gradient(to right, #354cf0, #88b7ed);
}

.bg-mix-warning {
    background-image: linear-gradient(to right, #ec8327, #faa55b);
}

.bg-mix-teal {
    background-image: linear-gradient(to right, #00796b, #4db6ac);
}

.bg-mix-blue {
    background-image: linear-gradient(to right, #1976d2, #64b5f6);
}

.bg-mix-danger {
    background-image: linear-gradient(to right, #f4401b, #ec9c67);
}
.bg-mix-orange {
    background-image: linear-gradient(to right, #8E54A4, #EC9C97);
}

.bg-mix-pink {
    background-image: linear-gradient(to right, #bc4e9c, #f80759);
}

.bg-mix-primary {
    background: linear-gradient(to right, #544cc2, #8266f3);
}

.bg-canvas1 {
    background: #3850f0;
}
.bg-canvas2 {
    background: #f64019;
}
.bg-canvas3 {
    background: #f55b39;
}

.dot-label {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
}
/*background colo*/

.bold-1{
  font-weight: 600;
}
.bold-2{
  font-weight: 700;
}
.bold-3{
  font-weight: 800;
}
.card {
  /* box-shadow: 0 0 10px 10px rgba(0,0,0,.125), 0 10px 10px rgba(0,0,0,.2); */
  /* box-shadow: 0 4px 6px 0 rgba(130, 130, 134, 0.2), 0px 1px 11px 0px rgba(130, 130, 134, 0.2); */
  box-shadow: 0 4px 6px 0 rgb(130 130 134 / 91%), 0px 1px 11px 0px rgb(130 130 134 / 85%);
}
.shadow-up{
    box-shadow: -5px 10px 16px -9px rgba(0,0,0,0.87);
    -webkit-box-shadow: -5px 10px 16px -9px rgba(0,0,0,0.87);
    -moz-box-shadow: -5px 10px 16px -9px rgba(0,0,0,0.87);
    transition: ease .5s;

}
.shadow-up:hover{
  box-shadow: none!important;
}
.shadow-1{
  box-shadow: 5px 36px 31px -24px rgba(234,231,231,0.64)!important;
  -webkit-box-shadow: 5px 36px 31px -24px rgba(234,231,231,0.64)!important;
  -moz-box-shadow: 5px 36px 31px -24px rgba(234,231,231,0.64)!important;
/*  box-shadow: -13px 18px 19px -17px rgba(0,0,0,0.67);
  -webkit-box-shadow: -13px 18px 19px -17px rgba(0,0,0,0.67);
  -moz-box-shadow: -13px 18px 19px -17px rgba(0,0,0,0.67);*/
  transition: ease .5s;
}
.shadow-1:hover{
  box-shadow: none!important;
}
.info-box {
  /* background: linear-gradient(45deg, #0000008c, #00000033); */
  display: flex;
  justify-content: space-between!important;
}

.info-box-icon {
  width: 120px !important;
}

* {
  box-sizing: border-box;
}
html{
  padding:0px;
  margin:0px;
}

.text-oswald{
	font-family: 'Oswald', sans-serif!important;
}
.text-bold-2{
	font-weight: 200!important;
}.text-bold-3{
	font-weight: 300!important;
}.text-bold-4{
	font-weight: 400!important;
}.text-bold-6{
	font-weight: 600!important;
}
li a span:hover{
  color: green!important;
}a:hover{
  color: white!important;
}
/*Home start*/

.active{
	background-color: #e4b101!important;
	transition: .5s ease;
}
.active:hover{
	opacity: .8;
	color: white;
}
.active-aside{
  background-color: #1d96f3;
  transition:.5s ease;
  color: white!important;
  width: 100%;
}
.active-aside:hover{
  opacity: .8;
  color: black!important;
}
.avatar{
	height: 50px!important;
	width: 50px!important;
	border-radius: 50%;
}
.info-box .info-box-number{
	font-weight: 500!important;
}
.ecommerce-icon {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
    border-radius: 50px;
    border: 1px solid #11998e;
    padding: 22px;
}
.font-weight-semibold {
    font-weight: 500 !important;
}
.fs-14 {
    font-size: 14px !important;
}
.bg-gradient-blue {
    background: linear-gradient(to right, #a032ed, #bc65fa);
}
.font-weight-bold {
    font-weight: 700!important;
}
.fs-30 {
    font-size: 30px !important;
}
.item-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 4px 6px 0 rgb(130 130 134 / 20%), 0px 1px 11px 0px rgb(130 130 134 / 20%);
    border-radius: 8px;
    border: 0;
    margin-bottom: 1.5rem;
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
img {
    max-width: 100%;
}
.img-card .img-card-circle {
    position: absolute;
    top: 0;
    margin-right: -38px;
    text-align: right;
    right: 0;
    opacity: 0.6;
}
.overflow-hidden {
    overflow: hidden!important;
}
/*Home End*/

/*::-webkit-scrollbar {
  width: 0px;
  background-color: red;
}
::-webkit-scrollbar::hover {
  width: 0px;
}*/
/* Track */
/*::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 0px; 
}*/
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c757d!important;
}

/*/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}*/
.showLeft {
  text-shadow: white !important;
  color: black !important;
  /*padding: 10px;*/
}
.icons li {
  background: none repeat scroll 0 0 black;
  height: 5px;
  width: 5px;
  line-height: 0;
  list-style: none outside none;
  margin-right: 15px;
  margin-top: 3px;
  vertical-align: top;
  border-radius: 50%;
  pointer-events: none;
}
.btn-left {
  left: 0.4em;
}
.btn-left,
.btn-right {
  position: absolute;
  top: -3px;
}

.show {
  display: block;
}

#chat-container {
  width: 100%;
  /*max-height: 92vh;*/
  margin: 0 auto;
  font-size: 0;

}

#chat-container #aside {
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}

#chat-container #aside input {
  width: 100%;
  height: 35px;
  line-height: 50px;
  padding: 0 20px 0 20px;
  /*background-color: #5e616a;*/
  /*border: none;*/
  border-radius: 3px;
  color: #111;
  font-size: 15px;
}

#chat-container #aside input::placeholder {
  color: #111;
}

#chat-container #aside ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  /*overflow-y: scroll;*/
  /*height: 100%;*/
}

#chat-container #aside li {
  padding: 10px 0;
  border-bottom: 2px solid #dee2e6;
}

#chat-container #aside li:hover {
  border-left: 3px solid blue;
}
.pointer-color{
    background-color: #E4E5E6;
    border-left: 3px solid blue;
}

h2,
h3 {
  margin: 0;
}
.outbound-hover{
  transition: 1s;
}
.outbound-hover:hover{
  transform: translateX(100px) scale(1.7);
}
.incoming-hover{
  transition: 1s;
}
.incoming-hover:hover{
  transform: translateX(-100px) scale(1.7);
}
.chat-img{
  max-width: 300px!important;
  height: auto!important;
}
.chat-gif{
  max-width: 250px!important;
  height: auto!important;
}
#chat-container #aside li img {
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 8px;
}

#chat-container #aside li div {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}

#chat-container #aside li h2 {
  font-size: 15px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 5px;
}

#chat-container #aside li h3{
  font-size: 12px;
  color: #75cb22;
  font-weight: bold;
  background: #003bff8c;
  border-radius: 9px;
  padding: 5px;
}
.inbox-page-height{
  min-height:91vh!;
}
.drip-page-height{
  height: 83vh;
}
.chat-page-height{
  height: 79vh;
}
.chat-page-height-2{
  height: 87vh;
}
.chat-aside-height{
  height: 85vh;
}
.chat-textarea{
  max-height: 70px!important;
}
/*emoji*/

.emoji{
    position: absolute;
    bottom: 126px;
    margin-left: 21px;
    border: 1px solid rgba(28,110,164,0.35);
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    width: 344px;
    height: 380px;
    overflow-y: scroll;
    background: #FFF;
    z-index: 100;
}
.keyword-emoji {
    position: absolute;
    left: 21px;
    border: 1px solid rgba(28,110,164,0.35);
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    width: 313px;
    height: 382px;
    overflow-y: scroll;
    background: #FFF;
    z-index: 100;
}
.emoji-scroll{
  max-height: 255px;
  overflow-y: scroll ;
  overflow-x: hidden;
}
.emoji-scroll::-webkit-scrollbar {
    width: 12px;
}
 
.emoji-scroll::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
 
.emoji-scroll::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
}
/*emoji end*/
.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}

.green {
  background-color: #58b666;
}

.orange {
  background-color: #ff725d;
}

.blue {
  background-color: #6fbced;
  margin-right: 0;
  margin-left: 7px;
}

main header {
  height: 110px;
  padding: 30px 20px 30px 40px;
}

main header>* {
  display: inline-block;
  vertical-align: top;
}

main header img:first-child {
  border-radius: 50%;
}

main header img:last-child {
  width: 24px;
  margin-top: 8px;
}

main header div {
  margin-left: 10px;
  margin-right: 145px;
}

main header h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

main header h3 {
  font-size: 14px;
  font-weight: normal;
  color: #7e818a;
}
/*side Chat*/
.popover-quick-response{
    background: #fff;
    width: 100%;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
    overflow: hidden;
}
.scroll-wrap{
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.popover-quick-response ul{
    list-style: none;
    margin: 0px!important;
    padding: 0px!important;

}
.popover-quick-response ul > li {
    color: #74767e;
    padding: 5px;

  }
.popover-quick-response ul > li:hover {
    background-color: #FFFFCD;
    cursor: pointer;
}
.scroll-wrap::-webkit-scrollbar-thumb {
    border-radius: 100px;
}
.scroll-wrap::-webkit-scrollbar {
  display: block!important;
}
.scroll-wrap::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
  background-color: red;
}
.scroll-wrap::-webkit-scrollbar::hover {
  width: 12px;
}
#chat {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
  /*height: 70vh;*/
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

#chat li {
  padding: 10px 10px;
}

#chat h2,
#chat h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
}

#chat h3 {
  color: #bbb;
}

#chat .message {
  /*padding: 20px;*/
  max-width: 80%;
  color: #fff;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  /*box-shadow: 0 2px 4px 0 #120707b0, 0px 1px 1px 0px #262222e6;*/
}

#chat .me {
  text-align: right;
}
#chat .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
}

#chat .you .triangle {
  border-color: transparent transparent #007bff transparent;
  margin-left: 15px;
}

#chat .me .triangle {
  border-color: transparent transparent #f012be transparent;
  margin-left: 375px;
}

main footer {
  height: 155px;
  padding: 20px 30px 10px 20px;
}

main footer img {
  height: 30px;
  cursor: pointer;
}

main footer a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #6fbced;
  vertical-align: top;
  margin-left: 333px;
  margin-top: 5px;
  display: inline-block;
}
body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header{
  margin-left: 0px;
}
.content-wrapper{
  background-color: black;
  padding-left:25px;
  padding-right:25px;
  /*background-image: url('../images/chat-background.jpg');*/
}
/*side bar*/
.sidemenu-dropdown{
  position: absolute;
  top: 38px;
  right: 8px;
  background-color: white;
  z-index: 100;
}
.aside{
  width: 0px;
  height: 98vh;
  z-index: 1;
  position: fixed;
  left: 0px;
  top: 0px;
  box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
  /*background-color: #343a40 !important;*/
  /*background-color: #1F1F1F;*/
  background-image: linear-gradient(to bottom, #141E3C 10%, #330811 90%);
  transition: .5s ease;
  border-radius: 0% 50% 50% 0%/0% 100% 100% 0%;
  transform: scaleY(1.05);
}
.scroll{
  overflow: scroll!important;
}
.scroll-y{
  overflow-y: scroll!important;
}
.body-scroll{
  height: 100%; 
/*  height: 92vh; 
  overflow: scroll;*/
}
.open{
  width: 250px;
}
.nav-item{
  padding-top: 8px;
  padding-bottom: 8px;

}
/*end side bar*/

/* New signin */

.login-box {

  width: 100%;
  padding: 40px;
  /*transform: translate(-50%, -50%);*/
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.signup-box {
  /*width: 400px;*/
  padding: 40px;
  /*transform: translate(-50%, -50%);*/
  /*background: rgba(0,0,0,.5);*/
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}
.login-box button{
  background-color: transparent;
  color: yellowgreen;
  letter-spacing: 4px;
  font-size: 18px;
  text-transform: uppercase;

}
.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;.login-box
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.form-position{
  position: absolute;
  bottom : 10px;
}

/* end New signin */


.chart{
  height: 325px;;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.regular-input {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 20rem;
  height: 12rem;
  outline: none;
}

.regular-input:focus {
  box-shadow: 0 0 0 3px rgba(66,153,225,.5);
}
.hover:hover{
  opacity: .8!important;
}
.hover-white:hover{
  background-color: #ECE9E6;
}

/*autoresponders*/
.circle{
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.autoresponder-content{
  max-height: 90vh;
  min-height: 90vh;
  background-color: white;
}
.hidden{
  overflow: hidden!important;
}
.autoresponder-emoji{
    position: absolute;
    margin-top: 10px;
    /*left: 48px;*/
    border: 1px solid rgba(28,110,164,0.35);
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    width: 344px;
    height: 380px;
    overflow-y: scroll;
    background: #FFF;
    z-index: 100;}
/*autoresponders end*/

/*collapse*/
.faq-section .mb-0 > a {
  display: block;
  position: relative;
}

.faq-section .mb-0 > a:after {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  font-weight: 600;
}

.faq-section .mb-0 > a[aria-expanded="true"]:after {
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}
/*end*/

/*phone sms preview*/
.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px #323232 solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content-smartphone {
    width: 331px;
    height: 525px;
    background: white;
}
.sms-box{
    box-sizing: border-box;
    color: rgba(0,14,36,.87);
    display: inline-block;
    font-size: 14px!important;
    font-weight: 500;
    line-height: 24px;
    margin: 0 16px 16px auto;
    padding: 8px 16px;
    white-space: pre-line;
    width: 190px;
    background-color: #E4E5E6;
    border-radius: 20px;
}
/*end phone sms review*/
/*top number dropdown*/
.dropdown-toggle::after {
    float: right;
    margin-top: 7px;
}
.bg-wood{
  background-color: rgba(35,153,240,.2);
}
.bg-offwhite{
  background-color: #eff3f6;
}
.bg-bubble{
  background-color: rgba(0,27,72,.06);
}
.bg-dark{
  background-color: black!important;
}
.text-dark{
  color: black!important;
}
.content-wrapper{
  background-color: black!important;
}
.page-height{
  height: 90vh;
}
.radius{
    border-radius: 14px!important;
    overflow: hidden;
}
.green-border-right{
  border-right: 1px solid #eff3f6 ;
}
.shaded-color{
    color: #007bff!important;
    font-size: 16px;
    border-bottom: 1px solid blue;
}
.green-dot{
    width: 10px;
    border-radius: 50%!important;
    height: 10px;
    background-color: #a8e063;
}
.red-dot{
    width: 10px;
    border-radius: 50%!important;
    height: 10px;
    background-color: red;
}

/*bootstrap select*/
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b!important;
    text-decoration: none;
    background-color: #F8F88B;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none!important;
    border: none!important;
}
/*end*/

/*dropdown*/


/*dropdown*/

/*bulk send*/

.bulk-detail-height{
  height: 793px;
  overflow-y: scroll!important;
  overflow-x: hidden;
}
/*bulk send*/