{% extends 'base.html' %}
{% load i18n %}
{% block title %} Signup {% endblock %}

{% include 'partials/head.html' %}
{% block content %}
<section class="sign-in-section" style="min-height: 73vh;">
    <div class="container">
        <div class="row my-5">
            <div class="col-lg-5 offset-lg-4 order-2 col-md-6 col-sm-12 signup-box px-5 py-lg-4 pb-5 mt-2 rounded-lg">
                <h1 class="text-center text-white pb-5">SIGN UP</h1>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            {{ error|escape }}
                        </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if messages %}
                    <div class="text-danger alert {{ messages }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        {{ messages }}
                    </div>
                {% endif %}

                <form class="signup" id="signup_form" method="post" action="{% url 'base:signup' %}">

                {% csrf_token %}

                    <div class="register-form">
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-warning"><i class="fas fa-user-tie"></i></div>
                                </div>
                                <input type="text" class="form-control" placeholder="Username *" value="" name="username" required/>
                            </div>
                        </div>
                        <div class="form-group pt-2">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-warning"><i class="fas fa-envelope"></i></div>
                                </div>
                                <input type="text" class="form-control" placeholder="Email *" value="" name="email" required/>
                            </div>
                        </div>
                        <div class="form-group pt-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-warning"><i class="fas fa-unlock"></i></div>
                                </div>
                                <input type="password" class="form-control" placeholder="Password *" value="" name="password1" required/>
                            </div>
                        </div>
                        <div class="form-group py-2">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-warning"><i class="fas fa-lock"></i></div>
                                </div>
                                <input type="password" class="form-control"  placeholder="Confirm Password *" value="" name="password2" required/>
                            </div>
                        </div>
                        <div class="form-group text-white row">
                            <div class="col-lg-8 form-check">
                                <input class="form-check-input text-info" type="checkbox" id="autoSizingCheck2">
                                <label class="form-check-label" for="autoSizingCheck2">
                                    Remember me
                                </label>
                            </div>
                            <div class="col-lg-4">
                            	 <input type="submit" class="letter-spacing float-right btn btn-danger text-oswald px-3 py-2" value="Register">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                            	<p class='text-warning h6 pb-2'>Already have an account !</p>
                                <a href="{% url 'base:signin' %}" type="submit" class="btn btn-warning float-left">Sign In</a>
                            </div>
                        </div>                    
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                    </div>
                </form>                 
            </div>
        </div>
    </div>
</section>
{% endblock %}
