{% extends 'base.html' %}
{% load head_tags %}
{% block title %}SMS Gateways{% endblock %}
{% load static %}
{% block content %}
	<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header" id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-center py-2">
                        <div class="">
                            <form method="POST" class="form-inline">
                            {% csrf_token %}
                                <div class="form-inline">
                                    <input type="text" class="form-control" name="number" placeholder="Type Number">
                                </div>
                                <button type="submit" name="check" value="search-number" class="btn btn-primary ml-2 bold-1">Search</button>
                            </form>
                        </div>
                    </div>
                </div> 
                <div class="col-md-10 mx-auto bg-white px-2 border-radius" style="overflow: scroll;">
                    <div class="p-2">
                        <div class="d-flex flex-row">
                            <div class=''>
                                <button 
                                    @click='history.back()' 
                                    class="btn btn-dark btn-sm bold-1">
                                    <i class="fas fa-arrow-left pr-2"></i>Back</button>
                                <button 
                                    v-if='deleteAllLeads' 
                                    @click.prevent='deleteAllContacts()' 
                                    class="btn btn-danger btn-sm bold-1">Delete All</button>
                                <button 
                                    v-else 
                                    @click.prevent='deleteLead()' 
                                    class="btn btn-danger bold-1 btn-sm">Delete</button>

                            </div>
                        </div>
                        <table 
                            style="max-height:74vh" 
                            class="table table-hover scroll text-dark text-center">
                            <thead>
                                <th>
                                    <input @input='deleteAll()' type="checkbox" id="select-all-contact">
                                </th>
                                <th>#</th>
                                <th>Form ID</th>
                                <th>List Name</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Time</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                {% for item in pages %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" v-model='leadIds' name="contact" value="{{ item.id }}" id="select-contact">
                                        </td>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ item.contact.form_id }}</td>
                                        <td>{{ item.contact.form_name }}</td>
                                        <td>{{ item.full_name|default:"Not given" }}</td>
                                        <td>{{ item.email|default:"Not given" }}</td>
                                        <td>{{ item.phone|phone_number }}</td>
                                        <td>{{ item.timestamp }}</td>
                                        <td>
                                            <a class="text-primary" href="{{item.id}}"><i class="fas fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
                <div class="col-md-10 mx-auto">
                    <div class="col-md-12 text-center">
                        {% if pages.has_other_pages %}
                            <section class="article-pagination">
                              <div class="container">
                                <div class="row">
                                  <div class="col-md-12">
                                    <nav aria-label="Page navigation example">
                                      <ul class="pagination justify-content-center">
                                        {% if pages.has_previous %}
                                          <li class="page-item mr-1">
                                            <a class="" href="?page={{ pages.previous_page_number }}" tabindex="-1">
                                              <i class="far fa-arrow-alt-circle-left fa-3x"></i>
                                            </a>
                                          </li>
                                        {% else %}
                                          <li class="page-item mr-1">
                                            <a class="" href="" tabindex="-1">
                                              <i class=" disabled far fa-arrow-alt-circle-left fa-3x"></i>
                                            </a>
                                          </li>
                                        {% endif %}
                                        {% for page in pages.paginator.page_range %}
                                          {% if pages.number == page %}     
                                            <!-- Current page -->
                                            <li class="page-item mx-1 mt-1">
                                              <a class="page-link text-dark" href="?page={{ page }}">{{ page }}</a>
                                            </li>
                                            <!-- end -->
                                          {% elif page > pages.number|add:'-3' and page < pages.number|add:'3' %}
                                              <li class="page-item mx-1 mt-1 text-dark">
                                                <a class="page-link text-dark" href="?page={{ page }}">{{ page }}</a>
                                              </li>
                                          {% endif %}
                                        {% endfor %}
                                        {% if pages.has_next %}
                                          <li class="page-item ml-1">
                                            <a class="" href="?page={{ pages.next_page_number }}">
                                              <i class="far fa-arrow-alt-circle-right fa-3x"></i>
                                            </a>
                                          </li>
                                        {% endif %}
                                      </ul>
                                    </nav>
                                  </div>
                                </div>
                              </div>
                            </section>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="text/javascript" src="{% static 'vue/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'vue/facebook.js' %}"></script>

    <script type="text/javascript">
        document.getElementById("select-all-contact").addEventListener('click', function(){
            allBoxes = document.getElementsByName("contact");
            for (var i=0; i<+allBoxes.length; i++){
                if (allBoxes[i].checked == false){
                    allBoxes[i].checked = true;
                }else{
                    allBoxes[i].checked = false;
                }
            }
        })
    </script>
{% endblock %}