{% extends 'base.html' %}
{% block title %} Undelivered Numbers {% endblock %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-lg-4 offset-lg-1 animate__animated animate__lightSpeedInLeft">
                    <div class="card shadow">
                        <div class="card-body row ml-2 scale">
                            <i class="fas fa-sms fa-2x text-primary"></i>
                            <h1 class="ml-3 title-gradient">Delivered SMS</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 animate__animated animate__lightSpeedInRight">
                    <ol class="breadcrumb float-sm-right bold-2">
                        <li class="breadcrumb-item"><a class="text-white" href="{% url 'responder:campaigns' %}">Campaign</a></li>
                        <li class="breadcrumb-item text-warning">Delivered</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row" id="select_all_boxes">
                <div class="col-lg-10 offset-lg-1">
                    <div class="card table-responsive p-md-3 shadow-1">
                        <div class="card-body">
                            <form method="POST">
                            {% csrf_token %}
                                <div class="mb-2">
                                    <button type="submit" class="btn btn-danger btn-sm" name="check" value="delete">Delete</button>
                                </div>
                                <table class="table table-hover animate__animated animate__fadeInUp">
                                    <thead>                                          
                                        <th>
                                              <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="select-all">
                                                  <label class="form-check-label ml-1">All</label>
                                              </div>
                                        </th>
                                        <th scope="col">#</th>
                                        <th scope="col">To</th>
                                        <th scope="col">From</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Cost($)</th>
                                        <th scope="col">MMS</th>
                                        <th scope="col">Time</th>
                                    </thead>
                                      <tbody>
                                        {% for item in pages %}
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input name="id" value="{{ item.id }}" type="checkbox" class="form-check-input">
                                                    </div> 
                                                </td>
                                              <td scope="row">{{ forloop.counter }}</td>
                                              <td>{{ item.dnis }}</td>
                                              <td> {{ item.ani }} </td>
                                              <td class="text-primary">{{ item.del_status }}</td>
                                              <td class="text-primary">{{ item.cost }}</td>
                                              <td class="text-primary">{% if item.is_mms %}Yes{% else %}No{% endif %}</td>
                                              <td class="text-primary">{{ item.timestamp|timesince }}</td>
                                            </tr>
                                        {% endfor %}
                                      </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    {% if pages.has_other_pages %}
        <section class="article-pagination">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    {% if pages.has_previous %}
                      <li class="page-item">
                        <a class="" href="?page={{ pages.previous_page_number }}" tabindex="-1">
                          <i class="far fa-arrow-alt-circle-left fa-3x"></i>
                        </a>
                      </li>
                    {% else %}
                      <li class="page-item">
                        <a class="" href="" tabindex="-1">
                          <i class=" disabled far fa-arrow-alt-circle-left fa-3x"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% for page in pages.paginator.page_range %}
                      {% if pages.number == page %}     
                        <!-- Current page -->
                        <li class="page-item">
                          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                        <!-- end -->
                      {% elif page > pages.number|add:'-3' and page < pages.number|add:'3' %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                          </li>
                      {% endif %}
                    {% endfor %}
                    {% if pages.has_next %}
                      <li class="page-item">
                        <a class="" href="?page={{ pages.next_page_number }}">
                          <i class="far fa-arrow-alt-circle-right fa-3x"></i>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </section>
    {% endif %}
    
    <!-- /.content -->
</div>
{% block extra_js %}
    <script>

    $('#select-all').click(function() {

      var _this = this;
      $('#select_all_boxes').find('input[name="id"').each(function() {
       
        if ($(_this).is(':checked')) {
          $(this).prop('checked', true);
        } else {
          $(this).prop('checked', false);
        }
      });
    });
    </script>
    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });
    </script>
{% endblock %}
{% endblock %}