{% extends 'base.html' %}
{% block title %}Gallery{% endblock %}

{% block content %}
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-3">
                        <div class="card shadow animate__animated animate__lightSpeedInLeft">
                            <div class="card-body row ml-2 scale">
                                <i class="fas fa-phone-square-alt fa-2x text-primary"></i>
                                <h1 class="ml-3 title-gradient letter-spacing pl-2">Gallery</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 bold-1">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Campaigns</a></li>
                            <li class="breadcrumb-item text-warning">Numbers </li>
                        </ol>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-12 col-lg-8 col-sm-12 mx-auto animate__animated animate__fadeInDown">
                        <div class="card p-lg-5 p-4 shadow-1">
                            <!-- <h4 class="pt-3 pl-3">Bulk Ani Upload</h4> -->
                            <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card-body"> 
                                    <div class="form-group row">
                                        <div class="col-8">
                                            <div class="input-group">
                                                <label for="name" class="col-4 col-form-label">Name *</label>
                                                <div class="custom-file">
                                                    <input class="form-control" id="name" name="name" placeholder="Give a  name" required>
                                                </div>
                                            </div>
                                            <div class="input-group pt-3">
                                                <label for="ani" class="col-4 col-form-label">Upload Images</label>
                                                <div class="custom-file">
                                                    <input id="ani" name="bulk-img" type="file" multiple>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button name="check" value="gallery" type="submit" class="mt-1 btn float-right btn-dark">Submit</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row pt-3 gallery-scroll" style="max-height:80vh!important; overflow-y: scroll;">
                    <div class="col-lg-10 col-md-12 col-sm-12 mx-auto animate__animated animate__fadeInUp" 
                    id="select_all_boxes">
                        <div class="card p-lg-5 table-responsive shadow-1" style="overflow:visible;">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="checkbox">
                                        <label><input id="select-all" type="checkbox" class="mr-3">Select All</label>
                                        <button name="check" value="delete" class="btn btn-danger px-3 ml-3" type="submit">Delete</button>
                                    </div>
                                    <div class="row">
                                        {% for item in images %}
                                            <div class="col-lg-2 col-md-3 col-sm-2 pt-4">
                                                <div class="checkbox">
                                                    <label><input name="item_id" value="{{ item.id }}" class="mr-2" type="checkbox">{{ item.name|truncatechars:20 }}</label>
                                                </div>
                                                <img class="big-scale gallery-img" src="{{ item.image.url }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </form>
                            {% if not images %}
                                <div class="text-center text-primary">
                                    <p>Nothing to show</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        {% if alert %}
            const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: '{{ alert }} !!'

                })
        {% elif error %}
            const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'error',
                    title: 'OOps! {{ error }} ??'

                })
        {% endif %}

    </script>
<script>

$('#select-all').click(function() {

  var _this = this;
  $('#select_all_boxes').find('input[name="item_id"').each(function() {
   
    if ($(_this).is(':checked')) {
      $(this).prop('checked', true);
    } else {
      $(this).prop('checked', false);
    }
  });
});
</script>
{% endblock %}

{% endblock %}