{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} | Oops! 500 Error {% endblock %}

{% block content %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="tcd-client-survey extra-space">
                        <div class="container">
                            <div class="row operation-spacer">
                                <div class="col-lg-12 col-md-2">
                                    <h1><span class="site-color">Oops! 500 Error</span></h1>

                                    <p>
                                        {% blocktrans %}We will be back soon. Stay with us :){% endblocktrans %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
