{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    {% load head_tags %}	
	<title>
		{% site_name %} |{% block title %} {% endblock %}
	</title>
	{% include 'partials/head.html' %}
	{% block extra_head %}
	{% endblock %}
</head>

<body onload="loader()" class="hold-transition sidebar-mini bg-dark">
	<div class="page-loader" id="page-loader">
		<img src="{% static 'images/loader.svg' %}">
		<p class="text-warning p-5">Page is loading. Please wait.....</p>
	</div>
	<div class="wrapper bg-dark" id="loading" style="display: none">
		{% include 'partials/aside.html' %}
		<div class="body-scroll text-dark">
			{% block content %}
			{% endblock %} 
		</div>
	</div>
	{% include 'partials/js.html' %}
	{% block extra_js %}
	{% endblock %}
	<script type="text/javascript">
		function loader(){
			setTimeout(showPage,400);

		}
		function showPage(){
			document.getElementById("page-loader").style.display="none";
			document.getElementById("loading").style.display="block";
		}
	</script>
</body>
</html>