 /* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1750px) {
    .inbox-page-height {
        height: 90vh!important;
    }
    .chat-page-height{
        height: 64vh!important;
    }
     .chat-aside-height{
        height: 82vh;
    }

}
@media (max-width: 1600px) {
    .inbox-page-height {
        height: 90vh!important;
    }
    .chat-page-height{
        height: 64vh!important;
    }
     .chat-aside-height{
        height: 80vh;
    }

}
@media (max-width: 1500px) {
    .inbox-page-height {
        height: 90vh!important;
    }
    .chat-page-height{
        height: 66vh!important;
    }
     .chat-aside-height{
        height: 80vh;
    }

}

@media (max-width: 1300px) {
    .inbox-page-height {
        height: 87vh!important;
    }
    .chat-page-height{
        height: 57vh!important;
    }
     .chat-aside-height{
        height: 78vh;
    }
    .lg-display-block{
        display: block;
    }
    .lg-display-none{
        display: none!important;
    }
}
@media (max-width: 1200px) {
    .inbox-page-height {
        height: 88vh!important;
    }
    .chat-page-height{
        height: 59vh!important;
    }
    .chat-aside-height{
        height: 76vh;
    }
    
}

 /* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .inbox-page-height {
        height: 87vh!important;
    }
    .chat-page-height {
        height: 73vh!important;
    }
    .chat-aside-height{
        height: 74vh;
    }

    .lg-display-block{
        display: block;
    }
    .lg-display-none{
        display: none!important;
    }
}
 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .emoji {
        bottom: 116px!important;
        margin-left: 11px;
    }
    .chat-aside-height{
        height: 92vh;
    }
    .sm-display-none{
        display: none!important;
    }
    .sm-display-block{
        display: block!important;
    }
    .lg-display-none{
        display: none!important;
    }
    .gallery-img{
        height: 200px;
        width: 100%;
        border-radius: 5px;
    }
    .gallery-img:hover{
        position: relative;
        transform: scale(1.05);
    }

}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .sm-display-none{
        display: none!important;
    }
    .sm-display-block{
        display: block!important;
    }
    .inbox-page-height {
        min-height: 100vh;
    }
    #chat-container{
        background-color:white!important;
    }
    .radius{
        border-radius: 0px!important;
    }
    .sm-font{
        font-size: 12px!important;
    }
    .sm-bulk-height{
        min-height: 100vh;
    },
    .emoji {
        bottom: 116px!important;
        margin-left: 11px;
    }
    .dropdown-menu{
        min-width: 17rem!important;
    }
    .chat-dropdown {
        right: 0px;
    }
    .sm-display-none{
        display: none!important;
    }
    .sm-display-block{
        display: block!important;
    }
    #chat-container aside {
        width: 30%;
    }
    main{
        width: 70%;
    }
    .sm-none{
        display: none;
    }
    .content-wrapper {
        background-color: #EFF0F9;
        padding-left: 0px;
        padding-right: 0px;
    }
    .login-box{
        width:100%;
    }
    .open{
        width: 180px;
    }
}
@media (max-width: 375px) {
    .chat-page-height {
        height: 69vh;
    }
    .conversation-send{
        width: auto!important;
        margin-left: 0px;

    }
    .sidemenu-dropdown{
      right: 9px;
    }
}
@media (max-width: 320px) {
    .chat-page-height {
        height: 60vh;
    }
    
}

